/* FOR page6.html */
*{
    color: rgb(0, 0, 0);
}

body {
    background-image: url('Quemira.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}

div.link {
    text-align: center;
}

div.goright{
    position: absolute;
    top: 0.7in; 
    right: 6%;
    background-image:linear-gradient(to bottom, rgb(75, 157, 211,0.05), white, rgb(75, 157, 211,0.05));    ;
}

h3{
    /* top: 1.5in; */
    font-size: 25pt;
    padding: 30px; 
    margin: 50px;    
    border: solid rgb(97, 30, 86); 
    border-width: 12px;           
    width: 250px;        
}
p.worldcup{
    font-size:1.2em;
    padding: 30px; 
    margin: 50px;    
    border: 12px solid rgb(97, 30, 86);             
    width: 250px;
    overflow: scroll;
}

i{
    color: whitesmoke
}

button {
    font: bold 12pt verdana;
    padding: 11px;
    background-color: #5652c6;
    color: white;
    border: solid 2px rgb(56, 54, 54);
    border-radius: 12px;
}

/* Active and Hover concepts */

button:hover {
    background-color: #251fde;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: rgb(33, 192, 192)
}