/* FOR page6.html */
* {
    color: rgb(255, 255, 255);
}

body {
    background-image: url(Led.webp);
    background-size: cover;
    background-repeat: no-repeat;
}

div.link {
    text-align: center;
}

/* FLEX PART */
.goats{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    flex-direction: row-reverse;
    gap: 10px;
}



.player-img {
    height: 300px;
    width: 450px;
    padding: 20px;
}

.player-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}






/* GRID part */

#one {
    grid-area: "one";
}

#two {
    grid-area: two;
}

#three {
    grid-area: three;
}

#four {
    grid-area: four;
}

#five {
    grid-area: five;
}

#six {
    grid-area: six;
}

#seven {
    grid-area: seven;
}

#eight {
    grid-area: eight;
}

#nine {
    grid-area: nine;
}

.players {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 1rem;
    width: 100%;
    margin: 10px;
    justify-content: center;
    position: absolute;
    bottom: 3%;
    left: 50%;
    transform: translateX(-50%);
    grid-template-areas: 'one two three four five six seven eight nine';

}

.individual {
    font-size: 14pt;
    background-color: rgb(87, 22, 22);
    color: white;
    padding: 1.5rem;
    height: 35px;
    width: auto;
    border-radius: 30px;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .players {
        width: 100%;
        grid-template-areas:
            'one two three four five'
            ' six seven eight nine nine';
    }
}

@media screen and (max-width: 600px) {
    .players {
        /* width: 100; */
        grid-template-areas:
            'one two three '
            ' four five six '
            'seven eight nine ';
    }
}





i {
    color: whitesmoke
}

button {
    font: bold 12pt verdana;
    padding: 11px;
    background-color: #5652c6;
    color: white;
    border: solid 2px rgb(56, 54, 54);
    border-radius: 12px;
}

/* Active and Hover concepts */

button:hover {
    background-color: #251fde;
    color: white;
    cursor: pointer;
}

button:active {
    background-color: rgb(33, 192, 192)
}